@using WebApp.Helpers;
<script src="~/Scripts/Views/vHeader.js"></script>
<script src="~/Scripts/Views/vBitacora.js"></script>
<script src="~/Scripts/Views/vComercio.js"></script>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Form Comercio</title>
    <meta charset="utf-8">

    <!--CSS-->
    <link rel="stylesheet" href="~/Content/css/reset.css"> <!--reset style-->
    <link rel="stylesheet" href="~/Content/css/commons.css">
    <link rel="stylesheet" href="~/Content/css/formComercioParte1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="mainImage1">
        <a href="/Home/Index"><img id="logo" src="https://res.cloudinary.com/veromorera/image/upload/v1573498967/masterFood/logo.png"></a>


        <div class="formContainer">
            <div class="form">
                <h2 id="encabezadoForm">Registrarse como Socio Comercial</h2>
                <h4>Paso 1</h4>

                <form id="frmUsuario">
                    <div class="left-frm">
                        @Html.CtrlInput(id: "txtCedula", type: "text", label: "Cédula", columnDataName: "Cedula")
                        @Html.CtrlInput(id: "txtNombre", type: "text", label: "Nombre", columnDataName: "Nombre")
                        @Html.CtrlInput(id: "txtApellidos", type: "text", label: "Apellidos", columnDataName: "Apellidos")
                        @Html.CtrlInput(id: "txtProvincia", type: "text", label: "Provincia", columnDataName: "Provincia")
                        @Html.CtrlInput(id: "txtCanton", type: "text", label: "Cantón", columnDataName: "Canton")
                        @Html.CtrlInput(id: "txtDistrito", type: "text", label: "Distrito", columnDataName: "Distrito")
                    </div>
                    <div class="right-frm">
                        <!--Hidden-->@Html.CtrlInput(id: "txtMapa", type: "text", label: "", columnDataName: "Mapa")
                        @Html.CtrlInput(id: "txtTelefono", type: "number", label: "Teléfono", columnDataName: "Telefono")
                        @Html.CtrlInput(id: "txtEmail", type: "email", label: "Email", columnDataName: "Email")
                        @Html.CtrlInput(id: "txtContrasena", type: "password", label: "Contraseña", columnDataName: "Contrasena")
                        @Html.CtrlInput(id: "txtIdPaypal", type: "text", label: "Id de PayPal", columnDataName: "IdPaypal")
                        <!--Hidden-->@Html.CtrlInput(id: "txtRol", type: "text", label: "", columnDataName: "Rol")
                        <!--Hidden-->@Html.CtrlInput(id: "txtCodigoAsignado", type: "text", label: "", columnDataName: "CodigoAsignado")
                        <!--Hidden-->@Html.CtrlInput(id: "txtCodigoVerificacion", type: "text", label: "", columnDataName: "CodigoVerificacion")
                    </div>
                </form>

                @Html.CtrlButton(viewName: "vComercio", id: "btnRegistrar", label: "Registrar Socio", onClickFunction: "RegistrarUsuario", buttonType: "success")

            </div>
            <h2 id="textDecoForm">
                ¡Incremente el
                <br>público de
                <br>su negocio!
            </h2>
        </div>

    </div>

    <!---------------------------------------------------------------------------------------------------------------------->

    <footer id="footer">
        <img id="logoFooter" src="https://res.cloudinary.com/veromorera/image/upload/v1573498967/masterFood/logo.png">
        <img id="logoLemon" src="https://res.cloudinary.com/veromorera/image/upload/v1574303663/masterFood/logoPSW2-01.jpg">

        <p>
            MasterFood 2019 - Todos los derechos reservados.<br />
            Creado por <a id="footerLanding" href="/Home/lemonCode"> LemonCode</a>
        </p>
    </footer>


    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Scripts cloudinary -->

    <script src='https://cdn.jsdelivr.net/jquery.cloudinary/1.0.18/jquery.cloudinary.js' type='text/javascript'></script>
    <script src="https://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script src="~/Scripts/Views/vImagen.js"></script>

</body>
</html>
