@using WebApp.Helpers;
<script src="~/Scripts/Views/vHeader.js"></script>
<script src="~/Scripts/Views/vBitacora.js"></script>
<script src="~/Scripts/Views/vTransaccion.js"></script>
<script src="~/Scripts/Views/vProductos.js"></script>
<script src="~/Scripts/Views/vRestauranteInfo.js"></script>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Restaurante Edicion</title>
    <meta charset="utf-8">

    <!--CSS-->
    <link rel="stylesheet" href="~/Content/css/reset.css"> <!--reset style-->
    <link rel="stylesheet" href="~/Content/css/commons.css">
    <link rel="stylesheet" href="~/Content/css/restauranteEdit.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>

    <meta name="viewport" content="width =device-width, initial-scale=1.0">

</head>

<body>
    <div class="mainImage1">
        <a href="/Home/Index"><img id="logo" src="https://res.cloudinary.com/veromorera/image/upload/v1573498967/masterFood/logo.png"></a>
        <a id="datosUsuario"></a>

        <header id="header">

            <ul id="menuDefault"></ul>
            <ul id="menuComercio"></ul>
            <ul id="menuTransportista"></ul>
            <ul id="menuAdmin"></ul>
            <ul id="menuCliente"></ul>

            <!--menu cliente-->
            <ul>
                <li>
                    @Html.CtrlButton(viewName: "vHeader", id: "btnDashboardComercio", label: "Mi Perfil", onClickFunction: "DashboardComercio", buttonType: "success")
                </li>
                <li>
                    @Html.CtrlButton(viewName: "vHeader", id: "btnRestaurante", label: "Mi Restaurante", onClickFunction: "Restaurante", buttonType: "success")
                </li>
                <li>
                    <button id="BtnPagos" type="button" class="btn btn-danger" data-toggle="modal" data-target="#pagoDesgloce">Mis Pagos</button>
                </li>
                <li>
                    <button id="logout" class="btn btn-success"><i class="fa fa-sign-out fa-lg"></i></button>
                </li>
            </ul>
        </header>

    </div>

    <!---------------------------------------------------------------------------------------------------------------------->

    <main>

        <section class="profileImage">

            <img id="profImg" src="">

        </section>
        <br><br>
        <!---------------------------------------------------------------------------------------------------------------------->

        <section class="menuSeccion">

            <h1 id="nombreComercial"></h1>
            <br />

            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingMenu">
                        <h2 class="mb-0">
                            <button id="MenuTitle" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick="generarCards()">
                                Menú
                            </button>
                            <button id="addProduct" class="btn btn-basic" data-toggle="modal" data-target="#CrearProducto"><i class="fa fa-plus-square"></i></button>

                        </h2>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">

                            <div id=MenuContainer>
                                <br />
                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </section>
        <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /><br /><br /><br /><br />
    </main>

    <!---------------------------------------------------------------------------------------------------------------------->

    <footer id="footer">
        <img id="logoFooter" src="https://res.cloudinary.com/veromorera/image/upload/v1573498967/masterFood/logo.png">
        <img id="logoLemon" src="https://res.cloudinary.com/veromorera/image/upload/v1574303663/masterFood/logoPSW2-01.jpg">

        <p>
            MasterFood 2019 - Todos los derechos reservados.<br />
            Creado por <a id="footerLanding" href="/Home/lemonCode"> LemonCode</a>
        </p>
    </footer>

    <!-- The Modal Producto -->
    <div class="modal fade" id="CrearProducto">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content" id="ModalContent">

                <!-- Modal Header -->
                <div class="modal-header Inicolor" id="HeaderModal">
                    <img id="logoModal" src="https://res.cloudinary.com/veromorera/image/upload/v1573498967/masterFood/logo.png">
                    <br>

                    <h3 class="modal-title">Nuevo Producto</h3>

                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form">
                        <form id="frmCreate">
                            @Html.CtrlInput(id: "txtCodigoProd", type: "text", label: "Código", columnDataName: "CodigoProducto")
                            @Html.CtrlInput(id: "txtNombreProd", type: "text", label: "Nombre del Producto", columnDataName: "NombreProducto")
                            @Html.CtrlInput(id: "txtDescripcionProd", type: "text", label: "Descripción", columnDataName: "DescripcionProducto")

                            @Html.CtrlInput(id: "txtPrecio", type: "number", label: "Precio", columnDataName: "PrecioProducto")
                            @Html.CtrlInput(id: "txtDescuento", type: "number", label: "Descuento (opcional)", columnDataName: "Descuento")

                            <!--Hidden-->@Html.CtrlInput(id: "txtidRest", type: "text", label: "", columnDataName: "IdRestaurante")
                            <!--Hidden--> @Html.CtrlInput(id: "txtImg", type: "text", label: "Imágen", columnDataName: "Imagen")
                        </form>

                    </div>

                    <img id="image_preview" src="https://res.cloudinary.com/veromorera/image/upload/v1574551294/masterFood/productos/pizzaicon.png">
                    @Html.CtrlButton(viewName: "", id: "btnSubirFoto", label: "Subir Imagen", buttonType: "danger")

                    <div id="divisionLine"></div>


                </div>


                <!-- Modal footer -->
                <div class="modal-footer text-center">
                    @Html.CtrlButton(viewName: "vProductos", id: "btnReg", label: "Registar Producto", onClickFunction: "Create", buttonType: "success")
                    <button id="btnCancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- The Modal Producto -->
    <div class="modal fade" id="ActualizarProducto">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content" id="ModalContent">

                <!-- Modal Header -->
                <div class="modal-header Inicolor" id="HeaderModal">
                    <img id="logoModal3" src="https://res.cloudinary.com/veromorera/image/upload/v1573498967/masterFood/logo.png">
                    <br>

                    <h3 id="actualizarProd" class="modal-title">Actualizar Producto</h3>

                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form">
                        <form id="frmUpdate">
                            @Html.CtrlInput(id: "txtCodigoProd2", type: "text", label: "Código", columnDataName: "CodigoProducto")
                            @Html.CtrlInput(id: "txtNombreProd2", type: "text", label: "Nombre del Producto", columnDataName: "NombreProducto")
                            @Html.CtrlInput(id: "txtDescripcionProd2", type: "text", label: "Descripción", columnDataName: "DescripcionProducto")

                            @Html.CtrlInput(id: "txtPrecio2", type: "number", label: "Precio", columnDataName: "PrecioProducto")
                            @Html.CtrlInput(id: "txtDescuento2", type: "number", label: "Descuento (opcional)", columnDataName: "Descuento")

                            <!--Hidden-->@Html.CtrlInput(id: "txtidRest2", type: "text", label: "", columnDataName: "IdRestaurante")
                            <!--Hidden--> @Html.CtrlInput(id: "txtImg2", type: "text", label: "Imágen", columnDataName: "Imagen")
                        </form>

                    </div>

                    <img id="image_preview2" src="https://res.cloudinary.com/veromorera/image/upload/v1574551294/masterFood/productos/pizzaicon.png">
                    @Html.CtrlButton(viewName: "", id: "btnSubirFoto2", label: "Subir Imagen", buttonType: "danger")

                    <div id="divisionLine"></div>
                </div>


                <!-- Modal footer -->
                <div class="modal-footer text-center">
                    @Html.CtrlButton(viewName: "vProductos", id: "btnUpd", label: "Actualizar", onClickFunction: "Update", buttonType: "success")
                    @Html.CtrlButton(viewName: "vProductos", id: "btnDel", label: "Eliminar", onClickFunction: "Delete", buttonType: "danger")

                    <button id="btnCancel" type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                </div>
            </div>
        </div>
    </div>





    <!---------------------------------------------------------------------------------------------------------------------->
    <!-- The Modal Pagos a Paypal-->
    <div class="modal fade" id="pagoDesgloce">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content" id="ModalContent">

                <!-- Modal Header -->
                <div class="modal-header Inicolor" id="HeaderModal">
                    <img id="logoModal2" src="https://res.cloudinary.com/veromorera/image/upload/v1573498967/masterFood/logo.png">
                    <br>

                    <h4 class="modal-title2">Desgloce de Ganancias</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div id="tablaContainer2">
                        @Html.CtrlTable(viewName: "vTransaccion", id: "tbTransaccion", title: "Desgloce de Ganancias",
                            columnsTitle: "Crédito,Detalle,Fecha",
                            ColumnsDataName: "Credito,Detalle,Fecha",
                            onSelectFunction: "BindFields", colorHeader: "red")
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer text-center">
                    @Html.CtrlButton(viewName: "vTransaccion", id: "btnPagoPaypal", label: "Enviar dinero a PayPal", onClickFunction: "PagoPaypal", buttonType: "success")

                </div>
            </div>
        </div>
    </div>

    @* PRIVACIDAD DEL LOGIN *@
    <script src="~/Scripts/Views/secureLogin.js"></script>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Scripts cloudinary -->

    <script src='https://cdn.jsdelivr.net/jquery.cloudinary/1.0.18/jquery.cloudinary.js' type='text/javascript'></script>
    <script src="https://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script src="~/Scripts/Views/vImagen.js"></script>




</body>
</html>
