@using WebApp.Helpers;
<script src="~/Scripts/Views/vFacturas.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.CtrlTable(viewName: "vFacturas", id: "tblFacturas", title: "Lista Facturas",
    columnsTitle: "FacturaPDF,IdUsuario", ColumnsDataName: "FacturaPDF,IdUsuario", 
    onSelectFunction: "BindFields", colorHeader:"red")


<div class="card border-secondary" style="margin-top: 50px;">
    <div class="card-header">
        <div class="row pull-right">
            <div class="col-md-8">Editar Factura</div>
            <div class="col-md-4">
                @Html.CtrlButton(viewName: "vFacturas", id: "btnCreate", label: "Save", onClickFunction: "Create", buttonType:"success")
                @Html.CtrlButton(viewName: "vFacturas", id: "btnUpdate", label: "Save changes", onClickFunction: "Update", buttonType: "info")
                @Html.CtrlButton(viewName: "vFacturas", id: "btnDelete", label: "Delete", onClickFunction: "Delete",buttonType: "danger")
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-component">
                    <form id="frmEdition">
                        @Html.CtrlInput(id: "txtFacturaPDF", type: "text", label: "FacturaPDF", columnDataName: "FacturaPDF")
                        @Html.CtrlInput(id: "txtIdUsuario", type: "text", label: "IdUsuario", columnDataName: "IdUsuario")
                    </form>
                </div>
            </div>
        </div>
     </div>
</div>